/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--content-width: 45rem;
	--dropdown-symbol-width: 0.7em;

	/* Typography */
	--hero: "hero-new", sans-serif;
	--nimbus: "nimbus-sans", sans-serif;
	--global-font-family: "nimbus-sans", "Helvetica Neue", "Arial Narrow", sans-serif;
	--highlight-font-family: "hero-new", serif;
	--global-font-size: 16;
	--global-font-line-height: 22;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/* Colors */
	--global-font-color: #444345;
	--border-color-dark: #444345;
	--border-color-light: #EBEAEB;
	--color-link: #A9a340;
	--color-link-visited: #444345;
	--color-link-active: #A9a340;
	--color-quote-border: #444345;
	--color-quote-citation: #A9a340;

	/* Custom editor colors */
	--color-theme-primary: #444345;
	--color-theme-secondary: #A9A340;

	/* Reuben */
	--green: #a9a340;
	--dkgray: #444345;
	--ltgray: #Ebeaeb;
}
