@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	font-family:'nimbus-sans', sans-serif;
	font-weight:bold;
}
/* stylelint-enable */

a:visited {
}

a:hover,
a:focus,
a:active {
	color: #a9a340;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
